<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Mouse Brain Mapper</title>

	<meta name="description" content="A map that shows a mouse's brain.">
	<meta name="author" content="John Subtirelu">

	<link href="/mouseBrains/css/bootstrap.min.css" rel="stylesheet">
	<link href="/mouseBrains/css/style.css?v=1.1.0" rel="stylesheet">
</head>


<body>
	<div class="container-fullwidth">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<div class="navbar-brand">Mouse Brain Mapper</div>
				</div>
				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a href="/mouseBrains">Home</a></li>
					<li role="presentation"><a href="/mouseBrains/map/create">New Map</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Map Name</th>
			<th>Mouse Name</th>
			<th>Date Created</th>
		</tr>
	</thead>
	<tbody>
		<!--MAP_LINK_TABLE-->
	</tbody>
</table>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<script src="/mouseBrains/js/jquery.min.js"></script>
	<script src="/mouseBrains/js/myjq.js?v=1.1.0"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="/mouseBrains/js/plot.js"></script>
	<script src="/mouseBrains/js/bootstrap.min.js"></script>
	<script src="/mouseBrains/js/scripts.js"></script>

</body>
</html>